body {
  background: linear-gradient(
    179.1deg,
    rgb(247, 238, 238) -1.9%,
    rgb(247, 202, 201) 44.9%,
    rgb(145, 168, 208) 96.1%
  );
  background-attachment: fixed;
  font-family: "Roboto", sans-serif;
}
header {
  border-bottom: 1px solid #f9f7fe;
  padding: 0 0 30px 0;
}
main {
  padding: 30px 0;
}
.link-pink {
  color: #f65282;
}
button {
  font-size: 18px;
  transition: transform 150ms ease-in-out;
  border-radius: 6px;
  border: none;
}
.theme-button {
  display: block;
  margin: 0 auto;
  padding: 5px 8px;
  border: 1px solid #7c97ad;
  background-color: #7c97ad;
  color: white;
}
.theme-button:hover {
  background: #dbc1ca;
  color: black;
  cursor: pointer;
}
.dark {
  background: linear-gradient(to top, #09203f 0%, #537895 100%);
  background-attachment: fixed;
}
.dark .weather-app {
  background: lightgray;
  color: white;
}
.dark .theme-button {
  background: #ffb5b5;
  color: white;
}
.dark .theme-button:hover {
  background: #3f7088;
}
.dark .pink-bold {
  color: #385774;
}
.dark .link-pink {
  color: #385774;
}
.dark .search-form-button {
  background-color: #385774;
}
.dark .search-form-input {
  background-color: #e7f0fe;
  color: black;
}

.weather-city {
  margin: 0;
  font-size: 38px;
  line-height: 48px;
}
.weather-app-details {
  font-size: 16px;
  line-height: 24px;
  color: rgba(39, 33, 66, 04);
  font-weight: 300;
}
.weather-app-temp-container {
  display: flex;
}
.weather-app-temp {
  font-size: 88px;
  font-weight: 500px;
  line-height: 88px;
  height: 100px;
}
.weather-app-icon {
  width: 88px;
  height: 88px;
}
.weather-app-unit {
  margin-top: 16px;
  font-size: 28px;
}
.weather-forecast {
  display: flex;
  justify-content: space-around;
  margin-top: 30px;
}
.weather-forecast-date {
  text-align: center;
  color: rgba(39, 33, 66, 0.4);
  font-size: 16px;
  line-height: 20px;
  margin-bottom: 10px;
}
.forecast-icon {
  width: 88px;
  height: 88px;
  display: block;
  margin: 0 auto;
}
.forecast-temperature {
  text-align: center;
  color: #f65282;
  margin-top: 10px;
  display: flex;
  justify-content: center;
}
.forecast-temp {
  padding: 0 10px;
}
.greeting {
  text-align: center;
}
.weather-app {
  background: #ecf2f9;
  max-width: 600px;
  margin: 30px auto;
  padding: 30px;
  box-shadow: 0 30px 50px rgba(65, 50, 100, 0.08);
  border-radius: 16px;
}
.search-form-input {
  background-color: #f9ecec;
  border: none;
  border-radius: 6px;
  width: 80%;
  font-size: 16px;
  padding: 15px 20px;
}
.search-form-button {
  background-color: #dbc1ca;
  padding: 15px 20px;
  margin-left: 5px;
  color: white;
  transition: transform 150ms ease-in-out;
  border-radius: 6px;
  border: none;
  font-size: 18px;
}
.search-form-button:hover {
  background: #a5aecd;
  cursor: pointer;
}
.weather-app-data {
  display: flex;
  justify-content: space-between;
}
.pink-bold {
  color: #f65282;
}
footer {
  border-bottom: 1px solid #f9f7fe;
  padding: 0 0 30px 0;
  text-align: center;
  font-size: 13px;
  color: rgba(0, 0, 0, 0.6);
}
